* {
    box-sizing: border-box;
}

img {
    width: 100px;
}

.align-center {
    text-align: center;
}

label {
    font-size: 24px;
}

.value-box {
    width: 60px;
}

.primary-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

.hidden {
    display: none;
}