* {
    box-sizing: border-box;
}

img {
    width: 100px;
}

.align-center {
    text-align: center;
}

label {
    font-size: 25px;
}

.value-box {
    width: 60px;
}

.hidden {
    display: none;
}